.cardBox {
  background-color: var(--secondary-bg-color);
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 var(--main-theme-color);
}

.cardBox:hover {
  transform: scale(1.02);
  transition: 0.3s linear transform;
  box-shadow: 0 8px 16px 0 var(--main-theme-color);
}

.cardBox h3 {
  margin-bottom: 0;
}

.cardBoxOpen {
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 4%;
  padding: 15px 25px 30px 25px;
  width: 90%;
  /* max-width: 800px; */
  height: auto;
  min-height: 400px;
  cursor: default;
  transform: none;
  z-index: 10;
}

.cardBoxOpen:hover {
  transform: none;
}

.cardBoxHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardBoxHeaderOpen {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cardBoxHeaderOpen img {
  width: 50px;
  height: 50px;
  margin-bottom: 0;
  z-index: 10;
}

.cardBoxHeaderOpen h3 {
  font-size: 28px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

.cardBoxCloseIcon {
  font-size: 2rem;
  color: var(--main-theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cardBoxImage {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.cardBoxContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.underConstruction {
  width: 300px;
  max-width: 95%;
  height: auto;
  margin-top: 10px;
}

/* Mobile view */

@media only screen and (max-width: 550px) {
  .cardBox:last-of-type {
    margin-bottom: 40px;
  }

  .cardBoxOpen {
    left: 3%;
  }

  .cardBoxOpen:first-child {
    top: 110px;
  }

  .cardBoxOpen:nth-child(2) {
    top: 380px;
  }

  .cardBoxOpen:nth-child(3) {
    top: 650px;
  }
}
