.countdown {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.timeBox {
  background-color: var(--main-bg-color);
  border-radius: 3px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dateNumbers {
  font-size: 24px;
}

/* Mobile view */

@media only screen and (max-width: 500px) {
  .countdown {
    margin-top: 30px;
  }
}
